In [6]:
import pandas as pd
import geopandas
from shapely.geometry import Point
import matplotlib.pyplot as plt

In [8]:
h=pd.DataFrame({'zip':[19152,19047],
               'Lat':[40.058841,40.202162],
               'Lon':[-75.042164,-74.924594]})

geometry = [Point(xy) for xy in zip(h.Lon, h.Lat)]
hg = geopandas.GeoDataFrame(h, geometry=geometry)

hg.crs = {'init' :'epsg:4326'}  
# ^ comment out to get a "Cannot transform naive geometries" error below

# project to merkator

In [9]:
hg

     zip        Lat        Lon                      geometry
0  19152  40.058841 -75.042164  POINT (-75.042164 40.058841)
1  19047  40.202162 -74.924594  POINT (-74.924594 40.202162)

In [10]:
hg.to_crs({'init': 'epsg:32633'})

     zip        Lat        Lon                                      geometry
0  19152  40.058841 -75.042164  POINT (-5935706.450668433 10003537.08559287)
1  19047  40.202162 -74.924594  POINT (-5911086.314143598 9988049.727977535)